.searchContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #4264fb;
  border-radius: 6px;
  padding: 30px;
}

.searchInput {
  width: 300px;
  border: 1px solid #26b6f9;
  border-radius: 6px;
  height: 30px;
}

.searchInput:hover,
.searchInput:focus,
.searchInput:active {
  border: 1px solid rgba(0, 107, 247, 0.808);
  background-color: #9adfff9f;
  outline: none;
}
