.titleWrap {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 30px;
}

.title {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 600;
  font-style: bold;
  font-weight: bold;
  font-style: normal;
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 0;
  color: #1842fb;
}
