.contactForm {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4264fb;
  border-radius: 6px;
  padding: 30px;
}

.input {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: start;
  width: 100%;
  border: 1px solid #26b6f9;
  border-radius: 6px;
  height: 30px;
  color: #4264fb;
  margin-bottom: 10px;
  padding-left: 12px;
  box-sizing: border-box;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid rgba(0, 107, 247, 0.808);
  background-color: #9adfff9f;
  outline: none;
}

.label {
  margin-block-start: 0em;
  margin-block-end: 0em;
  align-self: start;
  color: #1c45fc;
  font-size: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.errorMessage {
  color: #ff2e2e;
  align-self: start;
  margin-block-start: 0em;
  padding-bottom: 10px;
}
