.contactForm {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid #4264fb;
  border-radius: 6px;
  padding: 30px;
}

.input {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: start;
  width: 100%;
  border: 1px solid #26b6f9;
  border-radius: 6px;
  height: 30px;
  color: #4264fb;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid rgba(0, 107, 247, 0.808);
  background-color: #9adfff9f;
  outline: none;
}

.label {
  align-self: start;
  color: #1c45fc;
}
